manifest {
    description = 'Run Snippy with Containers'
}

profiles{
    docker {
        docker {
            enabled = true
        }
        process {
            container = 'staphb/snippy:4.4.5'
        }
    }

    singularity {
        singularity {
            enabled = true
        }
        process {
            container = '/data/images/snippy-4.4.5.img'
        }
    }
}